/* Typography and colors for main elements */
/*****************************************************************************/
:root {
  /* Colors */
  --color-dark: #3d3c38;
  --color-light: #ffffff;
  --color-medium: #fcfbdc;
  --color-primary: #719a54;
  --color-secondary: #4769b1;
  --color-detail: #deae6e;

  /* Type scale calculated using https://utopia.fyi/type/calculator */
  --size--1: clamp(0.94rem, calc(0.90rem + 0.18vw), 1.04rem);
  --size-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --size-1: clamp(1.41rem, calc(1.35rem + 0.27vw), 1.56rem);
  --size-2: clamp(1.76rem, calc(1.69rem + 0.34vw), 1.95rem);
  --size-3: clamp(2.20rem, calc(2.11rem + 0.42vw), 2.44rem);
  --size-4: clamp(2.75rem, calc(2.64rem + 0.53vw), 3.05rem);
  --size-5: clamp(3.43rem, calc(3.30rem + 0.66vw), 3.82rem);

  /* Space scale calculated using https://utopia.fyi/space/calculator/?c=320,18,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|9|12,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.10vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.10vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.21vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.63rem + 0.31vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.17rem + 0.42vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.25rem + 0.63vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.33rem + 0.83vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.50rem + 1.25vw), 7.50rem);
  --space-4xl: clamp(10.13rem, calc(9.75rem + 1.88vw), 11.25rem);
  --space-5xl: clamp(13.5rem, calc(13.2rem + 1.5vw), 15rem);

  /* Spaces and other sizes */
  --gutter: var(--space-s);
  --block-border: 0.4em;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: var(--size-1);
  line-height: 1.6;
  text-align: center;
}

a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: "Playpen Sans", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: var(--color-secondary);
  text-align: center;
}

h1 {
  font-size: var(--size-4);
}

h2 {
  font-size: var(--size-3);
  border-bottom: 6px dotted var(--color-detail);
  padding-bottom: 20px;
}

h3 {
  font-size: var(--size-1);
}

ul,
ol {
}

hr {
  height: 2px;
  color: var(--color-detail);
  opacity: 1;
  height: 2px;
}

blockquote {
  border-left: var(--block-border) solid var(--color-secondary);
  color: var(--color-secondary);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

img {
  width: 100%;
}

figcaption {
  font-size: var(--size--1);
  color: var(--color-secondary);
  text-align: center;
  margin-top: 1em;
  line-height: 1.25;
}

footer {
  text-align: center;
  padding: var(--space-l) var(--gutter);
  margin-top: var(--space-3xl);
  border-top: 6px solid var(--color-detail);

}

footer nav a {
  color: var(--color-secondary);
}

header {
}

header a {
  color: var(--color-secondary);
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 0.25em 0.5em;
}

table thead {
  border-bottom: 2px solid var(--color-primary);
}

table tr:nth-child(2n) {
  background-color: var(--color-medium);
}

details {
  font-size: var(--size--1);
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}


/* Flow and rythm */
/*****************************************************************************/
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow-small > * + * {
  --flow-space: 0.5em;
}

:is(h1, h2, h3, blockquote, hr) {
  --flow-space: 1.5em;
}

hr {
  --flow-space: 2em;
}

:is(ul, ol) {
  --flow-space: 1em;
}

/* Flow elements inside blockquotes and callouts automatically */
blockquote > * + *, .callout > * + * {
  margin-block-start: 0.5em;
}

footer * + * {
  --flow-space: 2em;
}

footer section {
  --flow-space: var(--space-xl);
}

footer section > * + * {
  --flow-space: 0.5em;
}


/* Blocks */
/*****************************************************************************/
.banner {
  position: relative;
  min-height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
}

.content {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.callout {
  border-left: var(--block-border) solid var(--color-detail);
  background-color: var(--color-medium);
  padding: var(--gutter);
  box-shadow: 0px 0px 10px 1px #eeeeee;
}


/* Utilities */
/*****************************************************************************/
.text-muted {
  color: var(--color-secondary);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.font-small {
  font-size: var(--size-0);
}

.font-large {
  font-size: var(--size-2);
}

.font-bold {
  font-weight: bold;
}

.font-fancy {
  font-family: "Playpen Sans", sans-serif;
}

.color-secondary {
  color: var(--color-secondary);
}

.extra-space {
  margin-top: var(--space-2xl);
}

.list-inline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gutter);
  padding-left: 0;
  line-height: 1;
}

#map {
  height: 400px;
}
